@font-face {
  font-family: "GmarketSans";
  src: url("./GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
